repository:
  name: terraform-provider-pihole
  description: A Terraform provider for managing Pi-hole resources
  topics: pi-hole, terraform, provider, terraform-provider
  homepage: https://registry.terraform.io/providers/ryanwholey/pihole/latest/docs

  private: false

  has_issues: true
  has_projects: false
  has_wiki: false

  allow_squash_merge: true
  allow_merge_commit: false
  allow_rebase_merge: false

  delete_branch_on_merge: true
  allow_auto_merge: true
  default_branch: main

branches:
  - name: main
    protection:
      required_pull_request_reviews:
        dismiss_stale_reviews: true
        required_approving_review_count: 1
        require_code_owner_reviews: true
      required_status_checks:
        strict: true
        contexts:
          - lint
          - pr-lint
      enforce_admins: false    
      required_linear_history: true
      restrictions: null
